.search-panel {
    width: 938px;
    height: 40px;
    display: flex;
    justify-self: center;
    margin-bottom: 34px;
}

@media screen and (max-width: 420px) {
    .search-panel {
        width: 388px;
        margin-bottom: 10px;
    }
}
